:host {
  display: flex;
  place-content: space-around;
}

img.icon {
  cursor: pointer;
  &:hover {
    zoom: 1.02;
  }
}
img {
  margin-top: 4px;
}
.mat-icon {
  line-height: 1.3;
  cursor: pointer;
  &:hover {
    zoom: 1.02;
  }
}

img.no-logs{
  cursor: not-allowed !important;
  filter: opacity(0.1) !important;
}