
  mat-chip {
    font-size: 13px;
  }
  mat-icon {
    margin-top: -7px;
  }
  form {
      margin-bottom: 5px;
  }
  .button-margin{
    margin-top: 18px !important;
    height: 26px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .date-label{
    position: absolute;
    width: 100px;
    left: 0;
  }
  .flex-center{
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    h3{
      margin-bottom: 0px !important;
      margin-top: 12px;
    }
  }
  .flex-end {
    justify-content: flex-end !important;
  }

  .matRangeInputIcon {
    position: absolute;
    top: -12px;
    right: -21px;
    background: #fff;
    width: 20px;
    height: 20px;
    z-index: 9;
  }
  .exportBtn{
    height: 26px;
    margin-right: 5px;
    margin-left: 15px;
  
  }
  .flex-start{
    flex-direction: row-reverse;
  }
  .chip-text{
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }