@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

.score-progress[role='progressbar'] {
  --fg: #333;
  --bg: #def;
  --size: 26px;
  --pgPercentage: var(--value);
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 73%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  color: var(--fg);
  line-height: 1;
  margin-top: 3px;
}

.score-progress[role='progressbar']::before {
  counter-reset: percentage var(--value);
  content: counter(percentage);
  font-size: 10px;
}
