.exportBtn-side {
  position: fixed;
  bottom: 10%;
  right: 1%;
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 15px;
}

.link_btn {
  color: #6738cf !important;
  height: 2rem;
  text-decoration: underline;
}
