<section>
  <app-search-filter
    [totalRecords]="mappedData?.totalRecords"
    [searchCriteriaOptionsData]="searchCriteriaOptionsData"
    [userName]="userProfile.userName"
    (initSearch)="searchParentManfRecords($event)"
    [addBtnText]=""
  ></app-search-filter>
  <ag-grid-angular
    style="width: 100%; height: calc(100vh - 230px); margin-top: 10px"
    class="ag-theme-material pairing-table-container"
    #childGrid
    (gridReady)="onGridReady($event)"
    [gridOptions]="gridOptions"
    [overlayLoadingTemplate]="overlayLoadingForAgGrid"
    [animateRows]="true"
    [headerHeight]="30"
    [frameworkComponents]="frameworkComponents"
    [tooltipShowDelay]="0"

  >
  </ag-grid-angular>

  <button
    mat-flat-button
    color="primary"
    aria-label="cdx primary medium button"
    class="cdx-but-md save-btn"
    [disabled]="isNotingChangeOnPage"
    (click)="saveEditedChanges()"
    *ngIf="!readOnly"
  >
    Save Changes
  </button>
</section>
