<section>
  <app-search-filter
    [totalRecords]="allManfRecords?.totalRecords"
    [searchCriteriaOptionsData]="searchCriteriaOptionsData"
    [userName]="userProfile.userName"
    (initSearch)="searchAllManfRecords($event)"
    [addBtnText]=""
  ></app-search-filter>
  <ag-grid-angular
    style="width: 100%; height: calc(100vh - 230px); margin-top: 10px"
    class="ag-theme-material pairing-table-container"
    #childGrid
    (gridReady)="onGridReady($event)"
    [gridOptions]="gridOptions"
    [overlayLoadingTemplate]="overlayLoadingForAgGrid"
    [animateRows]="true"
    [headerHeight]="30"
    [frameworkComponents]="frameworkComponents"
    (sortChanged)="onSortChanged($event)"
    [tooltipShowDelay]="0"
  >
  </ag-grid-angular>

<button
  mat-flat-button
  color="primary"
  (click)="saveEditedChanges()"
  aria-label="cdx primary medium button"
  [disabled]="isNotingChangeOnPage"
  class="cdx-but-md save-btn"
  *ngIf="!readOnly"
>
 Save Changes
</button> 
</section>
