<div class="cdx-dialog-wrapper change-log-dialog">
  <div class="cdx-dialog-top">
    <h2 class="title" mat-dialog-title>{{data.title}} - Change Log</h2>
    <mat-dialog-content role="dialog">
      <div class="sub-titles">
        <div class="sub-title"><span class="sub-sm"> <h3><b>{{data.subTitle}} </b></h3></span></div>
      </div>
      <ag-grid-angular
        style="width: 100%; height: 84vh; margin-top: 10px"
        class="ag-theme-material ag-theme-cdx"
        [headerHeight]="30"
        (gridReady)="onGridReady($event)"
        [gridOptions]="gridOptions"
        [getRowStyle]="getRowStyle"
        [overlayLoadingTemplate]="overlayLoadingForAgGrid"
        [tooltipShowDelay]="0"

      >
      </ag-grid-angular>
    </mat-dialog-content>

  </div>
  <button mat-button role="button" class="cdx-popup-close"  mat-dialog-close>
    <mat-icon role="img" class="cdx-mat-icon-16 rounded-icon">close</mat-icon>
  </button>
</div>

