.html-widget-component {
  height: 100%;
}

.fx-start {
  align-items: normal;
  justify-content: normal;
  margin-top: 20px;
}

.width-70-link {
  align-items: baseline;
  padding-left: 10%;
}

.action-wrapper a.csv-template-link {
  width: auto !important;
  min-width: auto !important;
}
.brand-feature-link {
  display: block !important;
  padding: 10px 10% !important;
}
.m-t-10 {
  margin-top: 10px;
}
