<div class="width-100">
  <form (ngSubmit)="initUnspscWorkflow()">
    <label for="search" class="fs-12">Market Name</label>
    <mat-form-field appearance="outline" class="width-100 searchInput">
      <input matInput placeholder="Search & select Market" 
      [formControl]="marketCtrl"
      [matAutocomplete]="auto"
      >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [autoActiveFirstOption]="true"  [displayWith]="displayFn">
        <mat-option *ngFor="let item of filteredMarketOption | async" [value]="item">
          {{item.marketName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
   <div fxLayout="row" fxLayoutAlign="center center">  
    <button [disabled]="marketCtrl.invalid || !marketCtrl?.value?.marketID" class="text-center" mat-flat-button color="primary">Initiate UNSPSC Workflow</button>
  </div>
  </form>
</div>
