.totalRecordsText {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  margin-right: 50px;
  margin-bottom: 0;
}
.limit_error {
    text-align: end;
    font-size: 16px;
    margin-top: -21px;
    margin-right: 21px;
    font-weight: 600;
    color: red;
}