<div class="cdx-dialog-wrapper">
 <form [formGroup]="parentManfForm" (ngSubmit)="submitParentForm()" autocomplete="off">
  <div class="cdx-dialog-top">
    <h2 mat-dialog-title>Create Parent Manufacturer</h2>
    <mat-dialog-content role="dialog">
      <div class="cdx-popup-row">
          <mat-form-field appearance="outline" class="cdx-input-default width-100">
            <mat-label>Parent Manufacturer Name</mat-label>
            <input inputRef matInput title="Please enter text" autocomplete="off" id="parentManfName" formControlName="parentManfName" placeholder="Enter Parent Manufacturer Name..." required />
           </mat-form-field>
          <mat-error *ngIf="parentManfName.invalid && (parentManfName.dirty || parentManfName.touched)">
            <ng-container *ngIf="parentManfName.errors?.required"> Parent Manufacturer Name is required. </ng-container>
          </mat-error>
      </div>
    </mat-dialog-content>
  </div>
  <div class="cdx-dialog-bottom">
    <mat-dialog-actions>
      <button
        aria-label="cancel button"
        mat-button
        mat-dialog-close
        role="button"
        id="cancel"
        (click)="onNoClick()"
        class="cdx-but-lg mat-stroked-button mat-primary"
      >
        Cancel
      </button>
      <button
        mat-button
        role="button"
        aria-label="action button"
        class="cdx-but-lg mat-flat-button mat-primary"
        [disabled]="!parentManfForm.valid"
        type="submit"
      >
        Create
      </button>
    </mat-dialog-actions>

  </div>
</form>
  <button mat-button role="button" class="cdx-popup-close" (click)="onNoClick()">
    <mat-icon role="img" class="cdx-mat-icon-16">close</mat-icon>
  </button>
</div>
