.save-btn{
    position: absolute;
    bottom: 12px;
    left: 17px;
    text-align: center;
  }

  
.page-selector{
    position: fixed;
      right: 535px;
      bottom: 4%;
      z-index: 1000;
  }
  .title-md{
    cursor:pointer
  }