.ag-cell-unspsc-attribute-extension {
  display: flex;
  align-items: center;

  .attribute-display-size {
    flex: 0 0 15px;
    background-color: #6817ff;
    padding: 1px 4px;
    border-radius: 50%;
    height: 18px;
    line-height: 18px;
    margin: 5px 0 6px 0;
    font-size: 11px;
    color: #fff;
    cursor: pointer;
    &.disabled {
      background-color: #e0e0e0a3;
      pointer-events: none;
      cursor: default;
      color: #333;
    }
  }
  .attribute-display-container {
    flex: 0 0 calc(100% - 12px);
    overflow: hidden;
    padding: 0 4px;
    .attribute-display-item {
      width: 100%;
      overflow: hidden;
      max-height: 29px;
      display: block;
    }
  }
}

::ng-deep {
  .attribute-display-item-tooltip {
    white-space: pre-line;
  }
  .attribute-panel-container {
    max-height: 300px !important;
    min-height: 25px !important;
    .mat-menu-item {
      height: 25px !important;
      font-size: 14px !important;
    }
    .parent-selected,
    .child-selected {
      color: #6817ff !important;
    }
  }
  .attribute-display-container {
    .attribute-display-item {
      .mat-chip-list-wrapper {
        overflow: hidden;
        overflow-x: scroll;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0;
        .mat-chip {
          font-size: 10px;
          min-height: 20px;
          margin: 3px 3px;
          padding: 2px 6px;
        }
      }
    }
  }
}
