<div class="cdx-dialog-wrapper facility-mastered-log-component">
  <div class="cdx-dialog-top">
    <h2 class="title"
      mat-dialog-title>Change Log: {{data?.externalManufacturerDesc}}</h2>
    <h5 class="sub-title">Distributor: {{ data.distributorName }}</h5>
    <mat-icon (click)="dialogRef.close()"
      class="close-icon">close</mat-icon>
    <mat-dialog-content role="dialog">
      <ag-grid-angular style="width: 100%; height: 60vh;margin-top: 10px;"
        class="ag-theme-material"
        (gridReady)="onGridReady($event)"
        [gridOptions]="gridOptions">
      </ag-grid-angular>
    </mat-dialog-content>
    <app-loader *ngIf="loader$ | async"
      message="Loading Change Log..."></app-loader>
  </div>
</div>