<ng-container *ngIf="(loading$ | async) as loading">
  <app-loader *ngIf="loading && data.appendFor === 'productEntitlement'" message="Please wait..."> </app-loader>
</ng-container>
<div class="cdx-dialog-wrapper">
  <form [formGroup]="brandCVMasterForm" autocomplete="off">
    <div class="cdx-dialog-top">
      <h2 mat-dialog-title>Create Brand Master</h2>
      <mat-dialog-content role="dialog">
        <div class="cdx-popup-row">
          <div class="content_" fxLayout="row" fxLayoutGap="20px" fxFlexFill>
            <div fxFlex="50%">
              <mat-form-field appearance="outline" class="cdx-input-default width-100">
                <mat-label>Alias Brand Name</mat-label>
                <input inputRef #inputBrandName matInput autocomplete="off" id="brandName" formControlName="brandName"
                  placeholder="Enter Alias Brand Name..." required autofocus />
              </mat-form-field>
              <mat-error *ngIf="getBrandName.invalid && (getBrandName.dirty || getBrandName.touched)">
                <ng-container *ngIf="getBrandName.errors?.required"> Brand Name is required. </ng-container>
              </mat-error>
            </div>
            <div fxFlex="50%">
              <mat-form-field appearance="outline" class="cdx-input-default width-100">
                <mat-label>Brand Family</mat-label>
                <input inputRef #inputBrandFamily matInput autocomplete="off" id="brandFamily"
                  formControlName="brandFamily" placeholder="Enter Brand Family..." required autofocus />
              </mat-form-field>
              <mat-error *ngIf="getBrandFamily.invalid && (getBrandFamily.dirty || getBrandFamily.touched)">
                <ng-container *ngIf="getBrandFamily.errors?.required"> Brand Family is required. </ng-container>
              </mat-error>
            </div>
          </div>
          <div class="content_" fxLayout="row" fxLayoutGap="20px" fxFlexFill>
            <div fxFlex="50">
              <mat-form-field appearance="outline" class="cdx-input-default width-100">
                <mat-label>Brand Model</mat-label>
                <input inputRef #inputBrandFamily matInput autocomplete="off" id="brandModel"
                  formControlName="brandModel" placeholder="Enter Brand Model..." />
              </mat-form-field>
            </div>
            <div fxFlex="50">
              <mat-form-field appearance="outline" class="cdx-input-default width-100">
                <mat-label>Child Manufacturer Master</mat-label>
                <input matInput placeholder="Select Child Manufacturer Master" #manfInput required aria-label="Manf"
                  [matAutocomplete]="autoManf" formControlName="childManufacturerId" />
                <mat-autocomplete #autoManf="matAutocomplete" [displayWith]="displayFnManf">
                  <mat-option *ngFor="let item of filteredManfList | async" [value]="item">
                    {{ item.childManfName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error
                *ngIf="getChildManufacturerModel.invalid && (getChildManufacturerModel.dirty || getChildManufacturerModel.touched)">
                <ng-container *ngIf="getChildManufacturerModel.errors">Child Manufacturer is required. </ng-container>
              </mat-error>
            </div>
          </div>
          <div class="content_" fxLayout="row" fxLayoutGap="20px" fxFlexFill>
            <div fxFlex="50">
              <mat-form-field appearance="outline" class="cdx-input-default width-100">
                <mat-label>Additional Brand Filter</mat-label>
                <mat-select formControlName="additionalBrandFilter">
                  <mat-option *ngFor="let value of booleanArray" [value]="value">{{value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50">
              <mat-form-field appearance="outline" class="cdx-input-default width-100">
                <mat-label>Manf as Brand</mat-label>
                <mat-select formControlName="manfAsBrand">
                  <mat-option *ngFor="let value of booleanArray" [value]="value">{{value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field appearance="outline" class="cdx-input-default width-100">
            <mat-label>Source</mat-label>
            <mat-select formControlName="brandSource" required>
              <mat-option *ngFor="let source of brandSourceRecords" [value]="source.sourceName">{{source.sourceName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="getSourceModel.invalid && (getSourceModel.dirty || getSourceModel.touched)">
            <ng-container *ngIf="getSourceModel.errors?.required"> Source is required. </ng-container>
          </mat-error>
        </div>
      </mat-dialog-content>
    </div>
    <div class="cdx-dialog-bottom">
      <mat-dialog-actions>
        <button aria-label="cancel button" mat-button mat-dialog-close role="button" id="cancel" (click)="onNoClick()"
          class="cdx-but-lg mat-stroked-button mat-primary">
          Cancel
        </button>
        <button mat-button role="button" aria-label="action button" class="cdx-but-lg mat-flat-button mat-primary"
          [disabled]="!brandCVMasterForm.valid" type="submit" (click)="submitBrandForm()">
          Create Brand Master
        </button>
      </mat-dialog-actions>
    </div>
  </form>
  <button mat-button role="button" class="cdx-popup-close" (click)="onNoClick()">
    <mat-icon role="img" class="cdx-mat-icon-16">close</mat-icon>
  </button>
</div>